.goods {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #bdbdbd;
    min-height: 43px;
    border-right: none;
    border-bottom: 0;
    min-width: 98px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__number {
    flex: 1;
  }
  &__img-wrap {
    flex: 2;
    width: 80px;
    height: 40px;
  }
  &__name {
    flex: 3;
    margin: 0;
  }
  &__price {
    flex: 2;
    margin: 0;
  }
  &__amount {
    flex: 4;
    margin: 0;
  }
}
